<div class="form-group row">
    <div class="col-xs-12 col-sm-6">
        <label for="range.startDate">Start Date</label>
        <input class="form-control" placeholder="" type="date" min="9/6/2016" name="range.startDate" ng-model="range.startDate" ng-min="{{range.minDate}}" required>
    </div>
    <div class="col-xs-12 col-sm-6">
        <label for="range.endDate">End Date</label>
        <input class="form-control"  type="date" name="range.endDate" ng-model="range.endDate" required>
    </div> 
</div>