<div class="form-group row">
    <div class="col-xs-12 col-sm-6">
        <label for="interval.startDate">Start Date</label>
        <input class="form-control" placeholder="" type="date" min="9/6/2016" name="interval.startDate" ng-model="interval.startDate" ng-min="{{interval.minDate}}" required>
    </div>
    <div class="col-xs-12 col-sm-6">
        <label for="interval.endDate">End Date</label>
        <input class="form-control"  type="date" name="interval.endDate" ng-model="interval.endDate" required>
    </div> 
</div>