<div class="tabs-left">
    <ul class="nav nav-tabs">
        <li class="nav-item" ng-class="{'active':isSelected(1)}"><a class="nav-link" ng-click="selectTab(1)" href="#flights"><i class="glyphicon glyphicon-info-sign"></i>Flights</a></li>
        <li class="nav-item" ng-class="{'active':isSelected(2)}"><a class="nav-link" ng-click="selectTab(2)" href="#hotels"><i class="glyphicon glyphicon-info-sign"></i>Hotels</a></li>
        <li class="nav-item" ng-class="{'active':isSelected(3)}"><a class="nav-link" ng-click="selectTab(3)" href="#cars"><i class="glyphicon glyphicon-info-sign"></i>Cars</a></li>
    </ul>
<div class="tabs-left">