<div class="tabs-left">
    <ul class="nav nav-tabs">
        <li class="nav-item" ng-class="ctrl.getClass('/flights')"><a class="nav-link" ng-click="ctrl.selectTab(1)" href="#flights"><i class="fa fa-plane"></i>Flights</a></li>
        <li class="nav-item" ng-class="ctrl.getClass('/hotels')"><a class="nav-link" ng-click="ctrl.selectTab(2)" href="#hotels"><i class="fa fa-bed"></i>Hotels</a></li>
        <li class="nav-item" ng-class="ctrl.getClass('/cars')"><a class="nav-link" ng-click="ctrl.selectTab(3)" href="#cars"><i class="fa fa-car"></i>Cars</a></li>
    </ul>
</div>